@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: Roboto;
}

body{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.white-text-dark{
    background-color: #1F2937;
    color:white;
}

.header{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 10px;
}


a{
    color:white;
    text-decoration: none;
}

.intro-top{
    justify-content: center;
    display: flex;
    gap: 15px;
}

.footer{
    text-align: center;    
}