@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Roboto;
}

body{
    margin: 0;
}

.container{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.white-text-dark{
    background-color: #1F2937;
    color:white;
}

.header{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 10px;
}


a{
    color:white;
    text-decoration: none;
}

.intro-top{
    justify-content: center;
    display: flex;
    gap: 15px;
}

.info-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

/* Edit the header */
.info-panel h1{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

/* Edit the div containing the 4 images */
.gallery-container{
    display: flex;
    gap:50px;
}

/* Edit the individal items */
.gallery-item{
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 17px;
    gap: 8px;
    /* border: 1px solid black; */
}

.gallery-item img{
    width: 160px;
    height: 160px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

/* Quote Panel */
.quote-panel{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    width:800px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-source{
    font-size: 24px;
    align-self: flex-end;
    font-weight: bold;
    /* padding-right: 10px; */
}

.sign-up{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.sign-up-container{
    background-color: #3882F6;
    border-radius: 5px;
    width: 800px;
    color: #E5E7EB;
    display:flex;
    justify-content: space-between;
    padding: 50px 120px;
}

.first, .second { 
    margin:0;
}

.first{
    font-weight: bold;
    font-size: 24px;
}

.second{
    font-size: 18px;
}

.sign-up button{
    background-color: #3882F6;
    color:#E5E7EB;
    border:1px solid #E5E7EB;
    border-radius: 5px;
    font-weight: bold;
    align-self: center;
    padding: 5px 25px;
    /* height: 30px; */
    font-size: 20px;
}


.footer{
    text-align: center;
    padding: 30px;
}