@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: Roboto;
}

.container{
    display: flex;
    flex-direction: column;
}

.footer{
    background-color: #1F2937;
    color:white;
}